*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
  }
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  

body{
    display: flex;
}

form{
    width: 100%;
    height: 80%;
    margin-top: 3em;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.input-group{
    position: relative;
}

i{
    position: absolute;
    left:10px;
}

.input-group small{
   position: absolute;
   margin-top:.3em;
   color:rgb(219, 88, 88); 
}

.decoration{
    width:60%; 
    background-image: url(public/orange-g88ce5c5c0_1920.jpg);
    background-position: center;
    background-size: cover;
    height:100vh;
}

.form-container{
    width:40%; 
    height: 100vh;
    background-color: rgb(245, 245, 245);
    padding: 5em;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.form-container button{
    width:90%;
    height:50px;
    background-color: rgb(251,198,118);
    border-radius:5px; 
    border:none; 
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}

.form-container button:hover{
    background-color: rgb(243,131,91);
}

.input-container{
    width:90%; 
    height:40px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.input-container input{
    width:80%;
    height:100%; 
    outline: none;
    border:none;
}

.eye-icon{
    left:82%;
    cursor: pointer;
}

.correct{
    border: 2px solid rgb(78, 181, 72); 
}

.error{
    border: 2px solid rgb(219, 88, 88);
}

.hidden{
    display:none !important; 
}




