* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(245, 245, 245);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  margin-top: 1em;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  color: #000;
  transition: linear 0.3s;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 20%;
  margin: 4em 0 4em;
}

.logout-link,
.login-link {
  background-color: #f96370;
}

.try-again-link {
  background-color: #f8f65f;
}

.try-again-link:hover {
  background-color: #c2c04b;
  transition: background-color linear 0.3s;
}

.logout-link:hover {
  background-color: #be4a53;
  transition: background-color linear 0.3s;
}

.login-link:hover {
  background-color: #be4a53;
  transition: background-color linear 0.3s;
}

@media (max-width: 700px) {
  h1 {
    font-size: 2rem;
  }

  a {
    width: 50%;
  }

  .image {
    width: 40%;
  }
}
